<% provide(:title, 'Login') %>
<h1>Login</h1>

<div class = "row">
	<div class="span6 offset3">
		<%= simple_form_for :session, :url => sessions_path do |f| %>

			<%= label_tag :email %>
			<%= f.input :email %>

			<%= label_tag :password %>
			<%= f.input :password %>

		<%= f.button :submit %>
		<% end %>

		<p>New user? <%= link_to "Sign Up now!", signup_path %></p>
	</div>
</div>


